html {
	background-size: 40px 40px; /* size of grid squares */
	background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
	background-position: 0 0;
}

.menu {
	background-color: blue;
}

.square {
	position: absolute;
	background-color: red;
	width: 37px;
	max-width: 37px;
	height: 37px;
	max-height: 37px;
}
